/* custom.scss */
@import "./applyColors";

/* ------- end customization -------- */

/* finally, import Bootstrap to set the changes! */
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

/* ------- override defaults -------- */

a {
  color: #183B5D;
}

a:hover {
  color: #ACACAC;
}

.border-gray {
  border: solid $lea-gray !important;
}

.card {
  border-radius: 0px !important;
}

.modal-xxl {
  max-width: 90vw !important;
}